[Desktop Entry]
Version=1.0
Type=Application
Name=myRadio
Comment=play radio stations
Exec=sh -c "python3 ~/.local/share/InternetRadio/myRadio.py"
Icon=multimedia-player
Path=
Terminal=false
StartupNotify=true
