[Desktop Entry]
Version=1.0
Type=Application
Name=myRadio
Comment=play radio staions
Exec=sh -c "python3 ~/.local/share/InternetRadio/myRadio.py"
Icon=~/.local/share/InternetRadio/radio_bg.png
Path=
Terminal=false
StartupNotify=true
